.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 7%;
}
.textProject {
  color: #181535;
  font-family: "Poppins", Sans-Serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
.tombolview {
  height: 30px;
  width: 100px;
  color: black;
  font-weight: bold;
  margin: 10px 4px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  border: 2px solid #181535;
  transition-duration: 0.4s;
  font-family: "Ubuntu", Sans-Serif;
}
.tombol-about {
  height: 30px;
  width: 30px;
  color: black;
  font-weight: bold;
  margin: 10px 4px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  border: 2px solid #181535;
  transition-duration: 0.4s;
}
.tombol-about:hover {
  background-color: black;
  color: white;
}
.tombolview:hover {
  background-color: black;
  color: white;
}
#coming-soon {
  margin-bottom: 15px;
}
#coming-soon2 {
  margin-bottom: 10px;
}
.project1 {
  text-align: center;
  height: 320px;
  width: 320px;
  background-color: #e9eaee;
  background-image: url("image/bg1.svg");
  margin: 10px;
  border-radius: 20px;
  background-size: 100% 100%;
  margin-bottom: 50px;
}
.project2 {
  height: 320px;
  width: 320px;
  background-color: #e9eaee;
  background-image: url("image/bg2.svg");
  margin: 10px;
  border-radius: 20px;
  background-size: 100% 100%;
  margin-bottom: 50px;
}
.project3 {
  height: 320px;
  width: 320px;
  background-color: #e9eaee;
  background-image: url("image/bg3.svg");
  margin: 10px;
  border-radius: 20px;
  background-size: 100% 100%;
  margin-bottom: 50px;
}
.project4 {
  height: 320px;
  width: 320px;
  background-color: #e9eaee;
  background-image: url("image/bg4.svg");
  margin: 10px;
  border-radius: 20px;
  background-size: 100% 100%;
  margin-bottom: 50px;
}
.project5 {
  height: 320px;
  width: 320px;
  background-color: #e9eaee;
  background-image: url("image/bg5.svg");
  margin: 10px;
  border-radius: 20px;
  background-size: 100% 100%;
  margin-bottom: 50px;
}
.project6 {
  height: 320px;
  width: 320px;
  background-color: #e9eaee;
  background-image: url("image/bg6.svg");
  margin: 10px;
  border-radius: 20px;
  background-size: 100% 100%;
  margin-bottom: 50px;
}

@media (max-width: 768px) and (orientation: landscape) {
  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
